.grid {
    width: 670px;
    height: 300px;
    border: 1px solid black;
    position: absolute;
}

.block {
    width: 100px;
    height: 20px;
    background-color: #0303AA;
    position: absolute;
}

.bat {
    width: 100px;
    height: 20px;
    background-color: #AA0303;
    position: absolute;
}

.ball {
    width: 10px;
    height: 10px;
    border-radius:5px;
    background-color: #03AA03;
    position: absolute;
}