.grid {
    width: 600px;
    height: 300px;
    border: 1px solid black;
    position: absolute;
}

.block {
    width: 100px;
    height: 20px;
    background-color: #0303AA;
    position: absolute;
    left: 10px;
    bottom: 10px;
}